body {
    font-family: 'Tomorrow', sans-serif;
}

img {
    height: 150px;
    width: 150px;
}

h1 {
    text-align: center;
}

li {
    padding: 5px;
    margin: 5px;
  }

.addBurger {
    background-color: rgb(26, 133, 17);
}

.eatBurger {
background-color: #d6a916;
}

.trashBurger {
    background-color: #eb4015;
}